<!DOCTYPE html>
<html>
<head>
    <title>Магазин одежды</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/clothing">Одежда</a></li>
                <li><a href="/shoes">Обувь</a></li>
                <li><a href="/jacket">Куртка</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>© 2023  Brand.</p>
    </footer>
</body>
</html>